.cell.glow-lines::before,
.cell.glow-lines::after,
.cell.glow-lines span::before,
.cell.glow-lines span::after {
  content: "";
  position: absolute;
  background: white;
  animation: glow 1.6s infinite;
}

/* Top line */
.cell.glow-lines::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* thickness of line */
}

/* Left line */
.cell.glow-lines::after {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
}

/* Bottom line */
.cell.glow-lines span::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
}

/* Right line */
.cell.glow-lines span::after {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  content: "";
  position: absolute;
}

/* Glow animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 6px white;
  }
  50% {
    box-shadow: 0 0 18px white;
  }
  100% {
    box-shadow: 0 0 6px white;
  }
}
